#section-2 {
    padding: 30px 180px;
    background: rgba(237, 128, 253, 0.15);
   
}

.section-2__info {
    display: flex;
    align-items: center;
    gap: 45px;
    margin: 50px 0px;
}

.texto_section-2 {
    color: #ED80FD;
}